{{ define "header" }}
    <!-- Put your custom css file link here -->
    <link rel="stylesheet" href="/css/privacy.css" />
{{ end }}

{{ define "navbar" }}
    <!-- Add navbar to your about page -->
    {{ partial "navbar-2.html" (dict "baseURL" .Site.BaseURL "title" .Site.Title "hasToggleButton" false "navBrandURL"  .Site.BaseURL ) }}
{{ end }}

{{ define "content" }}
    <!-- Put your about page content here -->
    <div class="container about-content">
        <h1>Privacy</h1>
        {{ .Content }}
    </div>
{{ end }}
